

<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <a class="navbar-brand" href="/">Attendance Tracker</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
  
      <li class="nav-item">
        <a class="nav-link" href="/users/login">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/users/register">Sign Up</a>
      <li>
    
  </ul>
      <ul class="navbar-nav navbar-right">
    
      <li class="nav-item">
        <a class="nav-link" href="/users/logout">Logout</a>
      </li>

      </ul>    
  </div>  
</nav>