
<!DOCTYPE html>
<html>
<head>
	<link href="/stylesheets/bootstrap.min.css" type="text/css" rel="stylesheet"/>  
</head>
<body>
{{> header}}

<p><h1>Welcome to Attendance Tracker Member Area</h1></p>

{{#if message}}
<div class="alert alert-danger">{{message}}</div>
{{/if}}
</body>
</html>